<%- include('partials/head', {tituloWeb: 'MercadoLiebre' }) %>

<body>
    <!-- HEADER -->
    <%- include("partials/header")%>
    <!-- FIN HEADER -->
    <section>
        <img class="banner-img" src="/images/design/img-home-banner.jpg" alt="banner">
    </section>
    <main>
        <section id="visita">
            <h3>Basado en tu última visita</h3>
            <div class="productos">
                <% productos.forEach ((row)=> { %>
                    <article>
                        <a href="">
                            <img src="/images/products/<%= row.imagen %>" alt="<%= row.nombre %>" class="img-prod">
                            <div class="info-article">
                                <i class="fa-solid fa-truck"></i>
                                <div class="info">
                                    <p class="precios">$<%= row.precio.toLocaleString(); %></p>
                                    <p class="descuentos">40% OFF</p>
                                </div>
                                <h4 class="descripcion"><%= row.descripcion %></h4>
                            </div>
                        </a>
                    </article>
                <% }) %>
            </div>
        </section>
        <section id="ofertas">
            <h3>Ofertas</h3>
            <div class="productos">
                <% oferta.forEach ((row)=> { %>
                    <article>
                        <a href="">
                            <img src="/images/products/<%= row.imagen %>" alt="<%= row.nombre %>" class="img-prod">
                            <div class="info-article">
                                <i class="fa-solid fa-truck"></i>
                                <div class="info">
                                    <p class="precios">$<%= row.precio.toLocaleString(); %></p>
                                    <p class="descuentos">40% OFF</p>
                                </div>
                                <h4 class="descripcion"><%= row.descripcion %></h4>
                            </div>
                        </a>
                    </article>
                <% }) %>
            </div>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include("partials/footer")%>
    <!-- FIN FOOTER -->
</body>

</html>